@page
@model CreateModel
@{ViewData["Title"] = "Create Order";}

<div class="text-center">
    <h1 class="display-3">Create order</h1>
</div>

<form method="post">
    <p>
        <label>Type</label><br />
        <input name="Type" />
    </p>
    <p>
        <label>Login</label><br />
        <input name="Login" />
    </p>
    <p>
        <label>Password</label><br />
        <input name="Password" />
    </p>

    <input type="submit" value="Отправить"/>
</form>

